html {
  font-family: 'Nunito';
}

body {
  background-color: #130f0d;
  color: #fff;
}

.boards {
  display: flex;
  margin-top: 32px;
}

.board {
  background: #141316;
  border: 1px solid #fd951f11;
  border-radius: 4px;

  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;
  color: #fd951fcc;
}

.dropzone {
  padding: 16px;
  min-width: 280px;
  min-height: 200px;
}

.card {
  padding: 16px;
  box-shadow: 0 2px 2px -1px #fd951fcc;
  width: 250px;
  margin: 25px 15px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  background: #1a1a1c;
}

.status {
  background: #fff;
  width: 35px;
  height: 8px;
  border-radius: 4px;
  margin: 5px 0; 
}

.status.green{
  background: #23d2ac;
}

.status.blue{
  background: rgb(66, 108, 223);
}

.status.red{
  background: #d22323;
}

.highlight {
  background: #fd951f08;
}

.card, .dropzone{
  transition: 400ms;
}

.is-dragging {
  cursor: move;
  opacity: 0.3;
}

.ready-to-dropped {
  background: #8afd1f1e
}